header {
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: #473144;
}

ul {
    text-align: right;
    list-style: none;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
}

a {
    text-decoration: none;
    color: #AF1B3F;
}

nav {
    border: #EFC69B;
    border-width: 2px;
    border-style: solid;
}

#catalogue {
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 1rem;
    padding: 15px;
}

#articles {
    display: grid;
    grid-column: 1/3;
}

.filter {
    grid-column: 3/4;
    padding: 5px;
    margin: 15px;
}

h2 {
    color: #AF1B3F;
}

body {
    color: #473144;
}

#main_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.book-info {
    border-right: 2px solid #EFC69B;
    /* border-right: #EFC69B;
    border-style: solid;
    border-width: 2px; */
    text-align: right;
    padding-right: 10px;

}

.filter {
    border: #EFC69B;
    border-style: solid;
}

img {
    width: 250px;
    margin: 0 auto;
    display: block;
}

.date {
    font-size: 20px;
}